#newaccountbody .ant-menu-root{
    height: 950px;
}
#newaccountbody .Lowalar-left{
    margin-top: 24px;
}
#newaccountbody .Administrator{
    float: right;
    height: 64px;
    line-height: 64px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
#newaccountbody .Administrator i{
    margin-right: 25px;
}
#newaccountbody .Administrator  span{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    display: inline-block;
}
#newaccountbody .top{
    height: 50px;
    background: #00284D;
    width: 100%;
    line-height: 36px;
    color: white;
    overflow: hidden;
    text-align: center;
    padding: 7px;
    font-size: 13px;
}
#newaccountbody .switch-btn{
    float: left;
}
#newaccountbody .Lowalar-right{
    float: left;
    margin-top: 24px;
    width: 77%;
}
#newaccountbody .Lowalar-rt{
    border-bottom: 1px solid #999;
    height: 50px;
    width: 100%;
    padding-left: 20px;
}
#newaccountbody .nav{
    height:30px;
    line-height: 30px;
    padding-left: 20px;
    background: white;
}
#newaccountbody .tit{
    font-size: 20px;
    background: white;
    height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.847058823529412);
    font-weight: bold;
    padding-left: 20px;
}



#newaccountbody .explain{
    width: 80%;
    height: 100px;
    border:1px solid rgba(24, 144, 255, 1);
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    font-size: 12px;
    margin-bottom: 40px;
}
#newaccountbody .ant-cascader-picker-label{
    width: 100% !important;
    text-align: left  !important;
}
#newaccountbody .explaintext{
    font-size: 12px;
    text-indent: 24px;
    color: black;
    line-height: 22px;
}
#newaccountbody .addinput{
    width: 80%;
    margin:0 auto;
    margin-bottom: 20px;
}
#newaccountbody .addinput span{
    display: inline-block;
    width: 25%;
    text-align: right;
}
#newaccountbody .addinput select{
    width: 70%;
}
#newaccountbody .addtextarea{
    width: 65%;
    margin:0 auto;
}
#newaccountbody .btn{
    width: 65%;
    margin:0 auto;
    margin-top: 20px;
}