#journalbody .ant-menu-root{
    height: 950px;
}
#journalbody .Layout-right{
    float: left;
    margin-top: 24px;
    width: 77%;
}
.homepage{
    height: 50px;
    background: #00284D;
    width: 100%;
    line-height: 36px;
    color: white;
    overflow: hidden;
    text-align: center;
    padding: 7px;
    font-size: 15px;   
}
.homepages{
    height: 50px;
    background: #00284D;
    width: 100%;
    line-height: 50px;
    color: white;
    overflow: hidden;
    font-size: 15px;       
}
#journalbody .ant-cascader-picker {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}
#journalbody .Administrator{
    float: right;
    height: 64px;
    line-height: 64px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
#journalbody .nav{
    height:30px;
    line-height: 30px;
    padding-left: 20px;
    background: white;
}
#journalbody .tit{
    font-size: 20px;
    background: white;
    height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.847058823529412);
    font-weight: bold;
    padding-left: 20px;
}
#journalbody .derive{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:rgba(230, 247, 255, 1);
    border:1px solid rgba(186, 231, 255, 1);
    margin-top: 10px;
    padding-left: 15px;
    border-radius: 5px;
    padding-right: 5px;
}