#newaddbody .ant-menu-root{
    height: 950px;
}
#newaddbody .Lowalar-left{
    margin-top: 24px;
}
#newaddbody .Administrator{
    float: right;
    height: 50px;
    line-height: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
#mytime{
    font-size: 16px;
}
#newaddbody .Administrator{
    float: right;
    height: 64px;
    line-height: 64px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}
#newaddbody .ant-upload .ant-upload-select .ant-upload-select-text{
    width: 60%;
}
#newaddbody .Administrator  span{
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    display: inline-block;
}
#newaddbody .gutter-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#newaddbody .top{
    height: 50px;
    background: #00284D;
    width: 100%;
    line-height: 36px;
    color: white;
    overflow: hidden;
    text-align: center;
    padding: 7px;
    font-size: 13px;
}
#newaddbody .ant-upload-select-picture{
    width: 60%;
}
#newaddbody .ant-upload  button{
    width: 100%;
    text-align: left;
}
#newaddbody .switch-btn{
    float: left;
}
#newaddbody .Lowalar-right{
    float: left;
    margin-top: 24px;
    width: 77%;
}
#newaddbody .Lowalar-rt{
    border-bottom: 1px solid #999;
    height: 50px;
    width: 100%;
    padding-left: 20px;
}
#newaddbody .nav{
    height:30px;
    line-height: 30px;
    padding-left: 20px;
    background: white;
}
#newaddbody .tit{
    font-size: 20px;
    background: white;
    height: 50px;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.847058823529412);
    font-weight: bold;
    padding-left: 20px;
}

/*当前/历史*/
#newaddbody .current{
    float: left;
    width: 100%;
    background: #F0F2F5;
}
#newaddbody .ant-tabs-bar{
    border:none;
}
#newaddbody .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
    float: left;
    margin-right: 0;
    border:none;
    border-radius: 0;
}
#newaddbody .current_text{
    background: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
}
#newaddbody .ant-select{
    width: 110px ;
}
#newaddbody .addinput{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
#newaddbody .bjz{
    width: 75%;
    border:1px solid rgb(217, 217, 217);
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 20px;
}
#newaddbody .number{
    width: 75%;
    border:1px solid rgb(217, 217, 217);
    line-height: 50px;
    border-radius: 5px;
    margin:0 auto;
    margin-top: 20px;
    position: relative;
}
#newaddbody .numadd{
    position: absolute;
    right:8%;
    bottom:2px;
    cursor: pointer;
}
#newaddbody .btn{
    width: 75%;
    text-align: right;
    margin:0 auto;
    margin-top: 20px;
}
/*起始时间*/
#newaddbody .current-time{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
#newaddbody td{
    border:none;
}
/*导出*/
#newaddbody .derive{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background:rgba(230, 247, 255, 1);
    border:1px solid rgba(186, 231, 255, 1);
    margin-top: 10px;
    padding-left: 15px;
    border-radius: 5px;
    padding-right: 5px;
}
#newaddbody .ant-table-thead > tr > th, .ant-table-tbody > tr > td{
    padding: 5px 10px;
    text-align: center
}

#newaddbody  .ant-table-thead{
    display: none;
}
#newaddbody .inform{
    width: 75%;
    margin:0 auto;
    height: 100px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid rgb(217, 217, 217);
}
#newaddbody .inform p{
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 0;
    text-align: left;
}
/* .ant-tabs-nav-scroll{
    height: 40px;
    line-height: 40px;
} */